.dark-mode-img {
  display: var(--img-dark);
}

.light-mode-img {
  display: var(--img-light);
}

[data-md-color-scheme="default"] {
  --img-dark: none;
  --img-light: block;
}

[data-md-color-scheme="slate"] {
  --img-dark: block;
  --img-light: none;
}
